@font-face {
  font-family: "Liberation Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/LiberationMono-Regular.woff2") format("woff2"),
    url("../fonts/LiberationMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "Liberation Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/LiberationMono-Bold.woff2") format("woff2"),
    url("../fonts/LiberationMono-Bold.woff") format("woff");
}

@font-face {
  font-family: "Liberation Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/LiberationSans-Bold.woff2") format("woff2"),
    url("../fonts/LiberationSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "DejaVu Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/DejaVuSansMono-Bold.woff2") format("woff2"),
    url("../fonts/DejaVuSansMono-Bold.woff") format("woff");
}
